.banner {
  width: min-content;
  height: min-content;
  padding-right: 1rem;
  padding-top: 1rem;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 90vw;
  height: 90vw;

  border: 2px solid var(--secondary-color);
  border-radius: 20px;
}

.imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  transform: translate(.5rem, -.7rem);
  overflow: hidden;
  border-radius: 20px;

  height: 100%;
  width: 100%;
  transition: all .5s ease-out;

}

.imageDiv:hover {
  transform: translate(.7rem, -.9rem);
}

.banner span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  z-index: 1;
  color: white;
  text-align: center;
}

.image {
  object-fit: cover;
}

/* PC */
@media (min-width: 700px) {
  .border {
    width: 50vw;
    height: 50vw;
  }
}
