.div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vw;
  overflow: hidden;
}

.verticalLine {
  height: 10rem;
  width: 2px;
  background-image: var(--gradient-top);

  position: absolute;
  top: 0;
}

.imageTopLeft {
  aspect-ratio: 16 / 9;
  width: 25vw;

  top: 3vw;
  left: 5vw;

  transform: translate(-10vw, -8vw);
  transition: all 1.5s ease-out;
}

.imageBottomLeft {
  aspect-ratio: 1 / 1;
  width: 15vw;

  bottom: 0;
  left: 2vw;

  transform: translate(-8vw, 6vw);
  transition: all 1s ease-out;
}

.imageCenterLeft {
  aspect-ratio: 1 / 1;
  width: 20vw;

  bottom: 10vw;
  left: 25vw;

  transform: translate(4vw, 20vw);
  transition: all 2s ease-out;
}

.imageBottomRight {
  aspect-ratio: 1 / 1;
  width: 20vw;

  bottom: 0;
  right: 15vw;

  transform: translate(10vw, 6vw);
  transition: all 0.8s ease-out;
}

.imageCenterRight {
  aspect-ratio: 16 / 9;
  width: 28vw;

  top: 8vw;
  right: 20vw;

  transform: translate(18vw, -16vw);
  transition: all 1.3s ease-out;
}

.slideBack {
  transform: translate(0px, 0px);
}

/*Tablet*/
@media (min-width: 768px) {
}

/*PC*/
@media (min-width: 1024px) {
}
