.div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 12rem;
  overflow: hidden;
}

.verticalLine {
  height: 10rem;
  width: 2px;
  background-image: var(--gradient-top);

  position: absolute;
  top: 0;
}

.imageTopLeft {
  aspect-ratio: 16 / 9;
  width: 25%;

  top: 1rem;
  left: 4rem;

  transform: translateX(-50px);
  transition: all 1s ease-out;
}

.imageBottomLeft {
  aspect-ratio: 1 / 1;
  width: 12%;

  bottom: 0;
  left: 1rem;

  transform: translate(-50px, 20px);
  transition: all 1s ease-out;
}

.imageCenterLeft {
  aspect-ratio: 1 / 1;
  width: 16%;

  bottom: 0;
  left: 16rem;

  transform: translate(-50px, 20px);
  transition: all 1s ease-out;
}

.imageBottomRight {
  aspect-ratio: 1 / 1;
  width: 16%;

  bottom: 0;
  right: 4rem;

  transform: translate(-50px, 20px);
  transition: all 1s ease-out;
}

.imageCenterRight {
  aspect-ratio: 16 / 9;
  width: 25%;

  top: 2rem;
  right: 12rem;

  transform: translate(-50px, 20px);
  transition: all 1s ease-out;
}



.slideBack {
  transform: translate(0px, 0px);
}

@media (min-width: 700px) {
  .div {
    height: 24rem;
  }
}
