.navBar {
  position: fixed;
  visibility: visible;

  opacity: 1;
  top: 0;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  z-index: 5;

  transition: all 0.5s ease-out;
}

.navBar.scrollDown {
  opacity: 0;
  visibility: hidden;
}

.navBar.clicked {
  background-color: black;
  height: 100%;
}

.navBar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navBar button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: filter 0.5s ease;
}

.navBar button:hover {
  filter: brightness(0.8);
}
