.section {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
}

.innerDiv {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;

  height: 100%;

  padding: .5rem;
}

.section h1 {
  margin: 1rem 0 1rem 0;
}

.section p {
  font-size: larger;
}

.section span {
  margin-top: .5rem;
  font-weight: bold;
  color: var(--secondary-color);
  width: 100%;
}

.slideBack {
  opacity: 1;
  transform: translate(0px, 0px);
}

/* PC */
@media (min-width: 700px) {
  .section {
    flex-direction: row;
  }

.section span {
  color: var(--secondary-color);
    text-align: center;
}
}
